.edit-profile-container {
    max-width: 500px;
    margin: auto;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .btn-block {
    width: 100%;
  }
  